﻿@model SongDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('../../../images/songdetails.jpg');
    }
</style>

<div class="container">
    <div>
        <h1 class="pt-2">Song details</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Artist)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Artist.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Album)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Album.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rank)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rank)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genre)
            </dd>
        </dl>
        <button class="btn bg-dark">
        <a asp-controller="Playlist" asp-action="Index">Back to Playlist</a>
        </button>
    </div>
</div>

