﻿@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/login/css/main.css" rel="stylesheet" />
<link href="~/login/css/util.css" rel="stylesheet" />
<link href="~/login/vendor/select2/select2.css" rel="stylesheet" />
<link href="~/login/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
<link href="~/login/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
<link href="~/login/vendor/css-hamburgers/hamburgers.css" rel="stylesheet" />
<link href="~/login/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/login/vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
<link href="~/login/vendor/bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
<link href="~/login/vendor/animsition/css/animsition.css" rel="stylesheet" />
<link href="~/login/vendor/animate/animate.css" rel="stylesheet" />
<link href="~/login/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
<link href="~/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />

<div class="limiter">
    <div class="container-login100" style="background-image: url('login/images/bg-01.jpg');">     
        <div class="wrap-login100 p-t-30 p-b-50">
            <span class="login100-form-title p-b-41">
                Account Login
            </span>
            <form id="account" method="post" class="login100-form validate-form p-b-33 p-t-5">
                <div class="text-danger"></div>
                <div class="wrap-input100">
                    <input asp-for="UserName" class="input100" type="text" name="username" placeholder="User name">
                    <span class="focus-input100" data-placeholder=""></span>
                </div>
                
                <div class="wrap-input100">
                    <input asp-for="Password" class="input100" placeholder="Password">
                    <span class="focus-input100" data-placeholder=""></span>
                </div>

                <div class="container-login100-form-btn m-t-32">
                    <button type="submit" class="login100-form-btn">
                        Login
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
@*<div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Log in</button>
                    </div>
                </form>
            </section>
        </div>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/login/js/main.js"></script>
    <script src="~/login/vendor/animsition/js/animsition.js"></script>
    <script src="~/login/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/login/vendor/bootstrap/js/tooltip.js"></script>
    <script src="~/login/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/login/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/login/vendor/daterangepicker/moment.js"></script>
    <script src="~/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/login/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/login/vendor/select2/select2.js"></script>
}
