﻿@inject SignInManager<User> signInManager
@inject UserManager<User> userManager
@{
    ViewData["Title"] = "Home Page";
}

<section class="banner_section">
    <div class="banner-main">
        <img src="~/Images/banner2.jpg">
        <div class="container">
            <div class="text-bg relative">
                <h1><br><span class="Perfect">RidePal</span><br>Welcome To The Music</h1>
                @if (signInManager.IsSignedIn(User))
                {
                    <a href="Map/GeneratePlaylist">Try out now!</a>
                }
                else
                {
            <a href="Login">Try out now!</a>
                }
            </div>
        </div>
    </div>
</section>
<div class="music-box">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="for-box">
                    <i><img src="~/icons/icon1.png" alt="icon"></i>
                    <h3>Custom Player</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="for-box">
                    <i><img src="~/icons/icon2.png" alt="icon"></i>

                    <h3>Easy customize</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="for-box">
                    <i><img src="~/icons/icon3.png" alt="icon"></i>
                    <h3>Music Playlist</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="for-box">
                    <i><img src="~/icons/icon4.png" alt="icon"></i>
                    <h3>Custom Gallery</h3>
                </div>
            </div>
        </div>
    </div>
</div>


