﻿@model PlaylistDTO

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    body {
        background-image: url('../../../images/deletebackground.jpg');
    }
</style>
<div class="container">
    <div class="my-3">
        <h1>Are you sure you want to delete this playlist?</h1>
    </div>
    <div>
        <dl class="row">
            <dt class="col-sm-2 my-4">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10 my-4">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genres)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genres)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalPlayTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalPlayTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AvrRank)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AvrRank)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger text-white" />
            <a asp-action="Index" class="btn bg-dark mx-2">Back to List</a>
        </form>
    </div>
</div>
</div>