﻿@model PlaylistViewModel
@inject UserManager<User> userManager
@inject SignInManager<User> signInManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('../../../images/detailsbackground.jpg');
    }
</style>

<div class="container">
    <div class="col-md-3 my-3">
        <h1>Playlist details</h1>
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Genres)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Genres)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.TotalPlayTime)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TotalPlayTime)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AvrRank)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AvrRank)
            </dd>
        </dl>
    </div>
    <div>

        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <button class="btn bg-dark mx-2">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "text-green" })
            </button>
        }
        <button class="btn bg-dark">
            <a asp-action="Index">Back to List</a>
            <button class="btn bg-success mx-2 text-white">
                <a asp-action="Songs" asp-route-id="@Model.Id">View all songs</a>
            </button>
        </button>
    </div>
</div>