﻿@model PlaylistDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    body {
        background-image: url('../../../images/editbackground.jpg');
    }
</style>

<div class="container">
    <h1 class="pt-2">Edit playlist title</h1>
    <div class="row" style="margin-top: 30px" ;>
        <div class="col-md-3">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success text-white" />
                    <a class="btn bg-dark mx-2" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>


