﻿@model PlaylistsViewModel
@inject UserManager<User> userManager
@inject SignInManager<User> signInManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/datatable.css" rel="stylesheet" />
<div style="background-image: url('../../../images/background3.jpg')">
    <div class="container py-4">
        <table id="table_id">
            <h1 class="mb-3">All playlists</h1>
            <thead>
                <tr>
                    <th style="width: 35%">
                        @Html.DisplayNameFor(model => model.Playlists.First().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Playlists.First().TotalPlayTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Playlists.First().AvrRank)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var playlist in Model.Playlists)
                {
                    <tr style="background: rgba(0, 0, 0, 0.7)">
                        <td style="width: 35%">
                            @Html.DisplayFor(modelItem => playlist.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => playlist.TotalPlayTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => playlist.AvrRank)
                        </td>
                        <td>
                            <div style="text-align: right">
                                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                {

                                    <button class="btn bg-dark">
                                        @Html.ActionLink("Edit", "Edit", new { id = playlist.Id })
                                    </button>
                                    <button class="btn bg-dark">
                                        @Html.ActionLink("Delete", "Delete", new { id = playlist.Id })
                                    </button>
                                }
                                <button class="btn bg-dark mx-1">
                                    @Html.ActionLink("Details", "Details", new { id = playlist.Id })
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script>
    window.$('#table_id').DataTable();
</script>

