﻿@model PlaylistViewModel

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/datatable.css" rel="stylesheet" />
<div style="background-image: url('../../../images/background4.jpg')">
    <div class="container py-3">
        <table id="table_id">
            <thead>
                <h1 class="mb-1">@Model.Title</h1>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Songs.First().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Songs.First().Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Songs.First().Genre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Songs.First().Rank)
                    </th>
                    <th style="width: 95px">
                        Details
                    </th>
                    <th style="width: 50px">
                        Preview
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var song in Model.Songs)
                {
                    var url = song.Url;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => song.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => song.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => song.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => song.Rank)
                        </td>
                        <td>
                            <button class="btn bg-dark mx-2">
                                <a asp-controller="Song" asp-action="Details" asp-route-id="@song.Id">Details</a>
                            </button>
                        </td>
                        <td>
                            <a href="#!" onclick="playAudio(@Html.Raw("'" + song.Url + "'"))">
                                <div id="@song.Url play">
                                    <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-play" fill="currentColor" xmlns="http://www.w3.org/2000/svg%22%3E">
                                        <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z" />
                                    </svg>
                                </div>
                                <div id="@song.Url pause" style="display: none">
                                    <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-pause" fill="currentColor" xmlns="http://www.w3.org/2000/svg%22%3E">
                                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z" />
                                    </svg>
                                </div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script>
    window.$('#table_id').DataTable();
</script>
<script>
    var audio;
    function playAudio(value) {
        if (!value) {
            alert("Unfortunetely we could not find a preview for this song.")
            return
        }
        if (!audio) {
            audio = new Audio(value);
            audio.volume = 0.2;
            audio.onended = function () {
                playPause(audi.src);
            }
            audio.play();
            playPause(audio.src);
        }
        else if (audio.src !== value) {
            if (audio.paused === false) {
                audio.pause();
                playPause(audio.src);
            }
            audio = new Audio(value);
            audio.volume = 0.2;
            audio.onended = function () {
                playPause(audi.src);
            }
            audio.play();
            playPause(audio.src);
        }
        else if (audio.paused || audio.ended) {
            audio.play();
            playPause(audio.src);
        }
        else {
            audio.pause();
            playPause(audio.src);
        }
    }
    function playPause(url) {
        var divPlay = document.getElementById(url + " play");
        var pausePlay = document.getElementById(url + " pause");

        divPlay.style.display = divPlay.style.display === "none" ? "block" : "none"
        pausePlay.style.display = pausePlay.style.display === "none" ? "block" : "none"
    }
</script>
