﻿@model Playlist_Generator.Models.GeneratePlaylistViewModel

@{
    ViewData["Title"] = "Generate Playlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('../../../images/blackbg.jpg');
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4 pt-3">
            <h1 stlye="color: white !important">Generate Playlist</h1>
            <form asp-action="GeneratePlaylist">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstGenre" class="control-label"></label>
                    <input asp-for="FirstGenre" class="form-control" placeholder="Pop, Rock, Rap or Folk" autocomplete="off" />
                    <span asp-validation-for="FirstGenre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstGenrePercentage" class="control-label"></label>
                    <input asp-for="FirstGenrePercentage" class="form-control" autocomplete="off" />
                    <span asp-validation-for="FirstGenrePercentage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SecondGenre" class="control-label"></label>
                    <input asp-for="SecondGenre" class="form-control" placeholder="Pop, Rock, Rap or Folk" autocomplete="off"/>
                    <span asp-validation-for="SecondGenre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SecondGenrePercentage" class="control-label"></label>
                    <input asp-for="SecondGenrePercentage" class="form-control" autocomplete="off"/>
                    <span asp-validation-for="SecondGenrePercentage" class="text-danger"></span>
                </div>
                <div hidden class="form-group">
                    <label asp-for="BingDestinationsViewModel.FirstDestinationLat" class="control-label"></label>
                    <input id="startLat" asp-for="BingDestinationsViewModel.FirstDestinationLat" class="form-control" />
                    <span asp-validation-for="BingDestinationsViewModel.FirstDestinationLat" class="text-danger"></span>
                </div>
                <div hidden class="form-group">
                    <label asp-for="BingDestinationsViewModel.FirstDestinationLon" class="control-label"></label>
                    <input id="startLon" asp-for="BingDestinationsViewModel.FirstDestinationLon" class="form-control" />
                    <span asp-validation-for="BingDestinationsViewModel.FirstDestinationLon" class="text-danger"></span>
                </div>
                <div hidden class="form-group">
                    <label asp-for="BingDestinationsViewModel.SecondDestinationLat" class="control-label"></label>
                    <input id="endLat" asp-for="BingDestinationsViewModel.SecondDestinationLat" class="form-control" />
                    <span asp-validation-for="BingDestinationsViewModel.SecondDestinationLat" class="text-danger"></span>
                </div>
                <div hidden class="form-group">
                    <label asp-for="BingDestinationsViewModel.SecondDestinationLon" class="control-label"></label>
                    <input id="endLon" asp-for="BingDestinationsViewModel.SecondDestinationLon" class="form-control" />
                    <span asp-validation-for="BingDestinationsViewModel.SecondDestinationLon" class="text-danger text-white"></span>
                </div>
                <div class="form-group my-2">
                    <input type="submit" value="Create" class="btn btn-dark" />
                </div>
            </form>

        </div>
        <div class="col-md-8 pt-4">
            <div id='searchBoxContainer' class="mb-2" style="color: black; width: 97%">
                <input placeholder="Search bar" style="color: black !important" class="form-control" type='text' autocomplete="off" id='searchBox' />
            </div>
            <div id="myMap" style="position:relative;width:710px;height:400px;"></div>
            <div class="form-group col-md-6 pl-0" style="float: left; padding-left: 0">
                <input disabled class="form-control my-3 ml-0" id="startName" />
                <button id="startDestinationButton" onclick="addInfo('start')" class="btn btn-primary text-white">Start Destination</button>
            </div>
            <div class="form-group col-md-6" style="float: right">
                <input disabled class="form-control my-3 ml-0" id="endName" />
                <button id="endDestinationButton" onclick="addInfo('end')" class="btn btn-primary text-white">End Destination</button>
            </div>
            <div hidden id="mapInfo">
                <input id="placeName" />
                <input hidden id="placeLat" />
                <input hidden id="placeLon" />
            </div>

            @*<input type="hidden" value="@Model.FirstGenre" id="api-key"/>*@
        </div>
    </div>
</div>

<script type='text/javascript'>
    var searchBar = document.getElementById('searchBar');

    function addInfo(prefix) {
        debugger;
        document.getElementById(prefix + "Lat").value = document.getElementById("placeLat").value;
        document.getElementById(prefix + "Lon").value = document.getElementById("placeLon").value;
        document.getElementById(prefix + "Name").value = document.getElementById("placeName").value;
    }

    function setMapInfo(name, lat, lon) {
        document.getElementById("placeName").value = name
        document.getElementById("placeLat").value = lat;
        document.getElementById("placeLon").value = lon;
    }

    function GetMap() {
        var map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'Ag1-oHlx6OC_A4B6GFHeLGTcOZ8hYGIr-ifRsFRjGkFgXE3nLPe_jU1dXYy_MDk7',
            liteMode: true,
            center: new Microsoft.Maps.Location(42.6965, 23.326),
            zoom: 12
        });

        Microsoft.Maps.Events.addHandler(map, 'click', onMouseClickSetSearchAddress);

        Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', function () {
            var options = {
                maxResults: 4,
                map: map
            };
            var manager = new Microsoft.Maps.AutosuggestManager(options);
            manager.attachAutosuggest('#searchBox', '#searchBoxContainer', selectedSuggestion);
        });
        function selectedSuggestion(suggestionResult) {
            map.entities.clear();
            map.setView({ bounds: suggestionResult.bestView });
            var pushpin = new Microsoft.Maps.Pushpin(suggestionResult.location);
            map.entities.push(pushpin);

            document.getElementById("placeName").value = suggestionResult.formattedSuggestion;
            document.getElementById("placeLat").value = suggestionResult.location.latitude;
            document.getElementById("placeLon").value = suggestionResult.location.longitude;
            //    document.getElementById('printoutPanel').innerHTML =
            //        'Suggestion: ' + suggestionResult.formattedSuggestion +
            //        '<br> Lat: ' + suggestionResult.location.latitude +
            //        '<br> Lon: ' + suggestionResult.location.longitude;
        }
        //Request the user's location
        navigator.geolocation.getCurrentPosition(function (position) {
            var loc = new Microsoft.Maps.Location(
                position.coords.latitude,
                position.coords.longitude);

            //Add a pushpin at the user's location.
            var pin = new Microsoft.Maps.Pushpin(loc);
            map.entities.push(pin);

            //Center the map on the user's location.
            map.setView({ center: loc, zoom: 15 });
        });

        function onMouseClickSetSearchAddress(e) {
            if (e.targetType == 'map') {
                var point = new Microsoft.Maps.Point(e.getX(), e.getY());

                var location = e.target.tryPixelToLocation(point);

                Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                    var searchManager = new Microsoft.Maps.Search.SearchManager(map);
                    var reverseGeocodeRequestOptions = {
                        location: new Microsoft.Maps.Location(location.latitude, location.longitude),
                        callback: function (answer, userData) {
                            console.log(answer)
                            document.getElementById("searchBox").value = answer.address.formattedAddress

                            setMapInfo(answer.address.formattedAddress, answer.location.latitude, answer.location.longitude);


                            clearPins();
                            map.entities.push(new Microsoft.Maps.Pushpin(reverseGeocodeRequestOptions.location));
                            //searchBar.value = answer.address.formattedAddress;
                        }
                    };
                    searchManager.reverseGeocode(reverseGeocodeRequestOptions);
                });
            }
        }

        function clearPins() {
            for (var i = map.entities.getLength() - 1; i >= 0; i--) {
                var pushpin = map.entities.get(i);
                if (pushpin instanceof Microsoft.Maps.Pushpin) {
                    map.entities.removeAt(i);
                }
            }
        }




    }
</script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
