/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/
/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/
 @media only screen and (min-width: 768px) and (max-width: 991px) {
     .main-menu ul>li a {
         padding: 20px 20px 20px;
    }
     .header-search {
         padding: 15px 0px;
    }
}
/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/
 @media only screen and (min-width: 599px) and (max-width: 767px) {
     .logo {
         text-align: center;
    }
     .cart-content-right {
         padding-bottom: 5px;
    }
     .mg {
         margin: 0px 0px;
    }
     .menu-area-main {
         height: 256px;
         overflow-y: auto;
    }
     .megamenu>.row [class*="col-"] {
         padding: 0px;
    }
     .menu-area-main .megamenu .men-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .women-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .el-cat {
         padding: 0px 15px;
    }
     .mean-container .mean-nav ul li a.mean-expand {
         height: 19px;
    }
     .category-box.women-box {
         display: none;
    }
     .cart-box {
         display: inline-block;
         margin: 0px 30px;
    }
     .wish-box {
         float: none;
         margin: 0px 30px;
         display: inline-block;
    }
     .menu-add {
         display: none;
    }
     .category-box {
         display: none;
    }
     .mean-container .mean-nav ul li ol {
         padding: 0px;
    }
     .mean-container .mean-nav ul li a {
         padding: 10px 20px;
         width: 94.8%;
    }
     .mean-container .mean-nav ul li li a {
         width: 92%;
         padding: 1em 4%;
    }
     .mean-container .mean-nav ul li li li a {
         width: 100%;
    }
     .header-search {
         padding: 15px 0px;
    }
     #collapseFilter.d-md-block {
         padding: 30px 0px;
    }
}
/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/
 @media only screen and (min-width: 280px) and (max-width: 599px) {
     .cart-content-right {
         padding-bottom: 5px;
    }
     .megamenu>.row [class*="col-"] {
         padding: 0px;
    }
     .menu-area-main .megamenu .men-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .women-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .el-cat {
         padding: 0px 15px;
    }
     .mean-container .mean-nav ul li a {
         padding: 1em 4%;
         width: 92%;
    }
     .mean-container .mean-nav ul li li a {
         width: 90%;
         padding: 1em 5%;
    }
     .mean-container .sub-full.megamenu-categories ol li a {
         padding: 5px 0px;
         text-transform: capitalize;
         width: 100%;
    }
     .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
         width: auto;
         border: none;
         float: none;
    }
     .menu-area-main {
         height: 290px;
         overflow-y: auto;
    }
     .mean-container .mean-nav ul li a.mean-expand {
         top: 0;
    }
}
 @media (min-width: 1200px) and (max-width: 1500px) {
}
 @media (min-width: 992px) and (max-width: 1199px) {
     .main-menu ul > li a {
         padding: 7px 20px 7px 20px;
         margin: 0px 0px;
    }
     .banner-main .text-bg h1 {
        font-size: 45px;
         line-height: 55px;
    }
     .Perfect {
        font-size: 32px;
    }
     .banner-main .text-bg p {
        padding: 0px 0px 17px 0px;
    }
     .music-box .for-box h3{
        font-size: 18px;
    }
     .text-box .box {
         padding: 20px 15px;
         margin-left: inherit;
    }
     .text-box .box i img {
         margin-left: inherit;
    }
     .text-box .box h3 {
         font-size: 31px;
         line-height: 35px;
         padding: 12px 0px;
    }
     .padding {
         padding: 0 15px;
    }
     ul.locarion_icon li {
        font-size: 13px;
    }
}
 @media (min-width: 768px) and (max-width: 991px) {
     .main-menu ul {
        margin-top: 8px;
    }
     .main-menu ul>li a {
         color:white;
         padding: 5px 15px 5px 15px;
         margin: 0px 0px;
    }
     .search{
         display: none;
    }
     .banner-main .text-bg h1 {
        font-size: 28px;
         line-height: 41px;
    }
     .Perfect {
        font-size: 23px;
    }
     .banner-main .text-bg p {
        font-size: 15px;
         padding: 0px 0px 12px 0px;
         line-height: 20px;
    }
     .banner-main .text-bg a {
        width: 163px;
         padding: 3px 0;
         font-size: 16px;
    }
     .music-box .for-box h3{
        font-size: 18px;
    }
     .music-box .for-box {
         margin-bottom: 30px;
    }
     .padding {
         padding: 0 15px;
    }
     .Lastestnews {
        padding-top: 60px;
    }
     .text-box .box {
         padding: 20px 15px;
         margin-left: inherit;
    }
     .text-box .box i img {
         margin-left: inherit;
    }
     .text-box .box h3 {
         font-size: 31px;
         line-height: 35px;
         padding: 12px 0px;
    }
     .address {
         margin-bottom: 30px;
    }
     .copyright {
         margin-top: 60px;
    }
}
 @media (min-width: 576px) and (max-width: 767px) {
     .menu-area-main li.active a {
         background: transparent;
         box-shadow: inherit;
    }
     .search{
         display: none;
    }
     .mean-container .mean-bar {
        margin-top: 1px;
    }
     .banner-main .text-bg h1 {
        font-size: 28px;
         line-height: 41px;
    }
     .Perfect {
        font-size: 23px;
    }
     .banner-main .text-bg p {
        display: none;
    }
     .banner-main .text-bg a {
        width: 163px;
         padding: 3px 0;
         font-size: 16px;
    }
     .music-box {
         padding-bottom: 60px;
    }
     .music-box .for-box {
         margin-bottom: 30px;
    }
     .padding {
         padding: 0 15px;
    }
     .text-box .box {
         padding: 20px 15px;
         margin-left: inherit;
    }
     .text-box .box i img {
         margin-left: inherit;
    }
     .text-box .box h3 {
         font-size: 31px;
         line-height: 35p padding: 12px 0px 
    }
     .Lastestnews {
         padding: 60px 0;
    }
     .Lastestnews .titlepage span {
         font-size: 14px;
    }
     .Lastestnews .news-box {
         margin-bottom: 30px;
    }
     .Albums {
         margin-bottom: 60px;
    }
     .margin {
         margin-bottom: 30px;
    }
     .address {
         margin-bottom: 30px;
    }
     .copyright {
         margin-top: 60px;
    }
    .contant_icon {

    margin-bottom: 30px !important;

}
}
 @media (max-width: 575px) {
     .header {
         padding-bottom: 0px;
    }
     .mean-container .mean-bar {
        margin-bottom: -1px;
    }
     .menu-area-main li.active a {
         background: transparent;
         box-shadow: inherit;
    }
    .contant_icon {

    margin-bottom: 30px !important;

}
     .search{
         display: none;
    }
     .logo {
         float: inherit;
         text-align: center;
    }
     .banner-main .text-bg h1 {
        font-size: 24px;
         line-height: 38px;
    }
     .Perfect {
        font-size: 23px;
    }
     .banner-main .text-bg p {
        display: none;
    }
     .banner-main .text-bg a {
        width: 163px;
         padding: 3px 0;
         font-size: 16px;
    }
     .banner-main img {
        height: 258px;
    }
     .music-box {
         padding-bottom: 60px;
    }
     .music-box .for-box {
         margin-bottom: 30px;
    }
     .submit-btn {
        width: 176px;
         margin: 0 auto;
         margin-top: 0px;
         display: block;
         margin-top: 20px
    }
     .padding-right {
         padding-right: 15px;
    }
     .padding-left {
         padding-left: 15px;
    }
     .padding {
         padding: 0 15px;
    }
     .text-box .box {
         padding: 20px 15px;
         margin-left: inherit;
    }
     .text-box .box i img {
         margin-left: inherit;
    }
     .text-box .box h3 {
         font-size: 22px;
         line-height: 30px;
         padding: 12px 0px 
    }
     .Lastestnews {
         padding: 60px 0;
    }
     .Lastestnews .titlepage h2 {
         font-size: 40px;
         line-height: 50px;
    }
     .Lastestnews .titlepage span {
         font-size: 14px;
    }
     .Lastestnews .news-box {
         margin-bottom: 30px;
    }
     .Albums {
         margin-bottom: 60px;
    }
     .Albums .titlepage span {
         font-size: 14px;
    }
     .margin {
         margin-bottom: 30px;
    }
     .address {
         margin-bottom: 30px;
    }
     .copyright {
         margin-top: 60px;
    }
}
 