﻿@model UserViewModel

@{ ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<style>
    body {
        background-image: url('../../../images/userbackground.png');
    }
</style>
<div class="container">
    <div>
        <hr />
        <h1>User Details</h1>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
        <div>
            <button class="btn bg-primary mx-2 text-white">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "text-white" })
            </button>
            <a class="btn bg-dark mx-2" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

