﻿@model AllUsersViewModel

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('../../../images/userbackground.png');
    }
</style>

<div class="container">
    <p>
        <a class="btn bg-success mb-1 mt-1 mx-2 my-3 text-white" asp-action="Create">Create New User</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users.First().UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.First().Email)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        <button class="btn bg-dark mx-2">
                            <a asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                        </button>
                        <button class="btn bg-dark mx-2">
                            <a asp-action="Details" asp-route-id="@user.Id">Details</a>
                        </button>
                        <button class="btn bg-dark mx-2">
                            <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                        </button>
                    </td>
                    @if (user.IsBanned == false)
                    {
                        <td>
                            <button class="btn bg-danger mx-2 text-danger">
                                <a asp-action="BanUser" asp-route-id="@user.Id">Ban User</a>
                            </button>
                        </td>
                    }
                    else
                    {
                        <td>
                            <button class="btn bg-success mx-2 text-white">
                                <a asp-action="UnbanUser" asp-route-id="@user.Id">Unban</a>
                            </button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
